version: "3.8"

services:
  mysql:
    image: mysql:8
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: school
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - school-network

  backend:
    build: ./backend
    container_name: backend
    restart: always
    ports:
      - "3500:3500"
    depends_on:
      - mysql
    env_file:
      - ./backend/.env
    networks:
      - school-network

  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    ports:
      - "7090:80"
    depends_on:
      - backend
    env_file:
      - ./frontend/.env
    networks:
      - school-network

volumes:
  mysql_data:

networks:
  school-network:
    driver: bridge
